header
{

.header-Container
{
    .card-text
    {
        color: #bbbbbb;
        margin: 4em 0em;
        border-radius: 1em;
        background: linear-gradient(to bottom, #08090a, #23242600);

        h1
        {    padding: 30px;}
    }
}



}